#preloader {
    /*фиксированное позиционирование*/
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #030303;
    z-index: 1001;
    /*Текст посередине*/
    display: flex;
    justify-content: center;
    align-items: center;
    animation: preloader-disable 2s 1 linear;
    animation-delay: 8s;
    animation-fill-mode: forwards;
}

@keyframes preloader-disable {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

#preloader > h1{
    font-family: 'Lato', sans-serif;
    position: relative;
    color: #424242;
    font-size: 10vw;
    border-bottom: solid #424242 10px;
}

#preloader > h1:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "Привет,Надя";
    color: #00ffb9;
    border-bottom: 10px solid #00ffb9;
    overflow: hidden;
    animation: loading 8s 1 linear;
}

@keyframes loading {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}



