#gift-box{
    background: #212121;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    z-index: 1000;
}

#gift-box > input{
    height: 60vmin;
    opacity: 0;
    position: absolute;
    animation: shake 2s ease infinite;
    animation-fill-mode: forwards;

}

#gift-box > img{
    width: 40vw;
    position: absolute;
    top: -100%;
    right: -100%;
    opacity: 0;
    z-index: 1;
    overflow: hidden;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(20deg);
    }

    20% {
        transform: rotate(-20deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-10deg);
    }

    70% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    90% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
